{% extends "base.html" %}
{% load static %}
{% block title %} Assign date for each recipe {% endblock %}	

{% block content %}
  <h2>Recipes with Calendar</h2>
  
    {{ recipe_forms.0.media }}
    <div class="card-deck">
      {% for form in recipe_forms %}
	  
        <div class="card">
          <div class="card-body">
		  <div class="row">

            <div class="col-lg-6 mt-4">
            <h3 class="card-title">{{ form.instance.recipe_name }} </h3>
            <p class="card-text">Calories: {{ form.instance.calories }}</p>
			<p class="card-text">Carbs: {{ form.instance.carbs }}</p>
            <p class="card-text">Protein: {{ form.instance.protein }}</p>
			<p class="card-text">Fat: {{ form.instance.fat }}</p>
			<form class="input-group mb-4" method="POST" action="{% url 'update_diet_plan' form.instance.id %}">
			 {% csrf_token %}
			 {{ form.as_p}}
           
			<button type="submit">Save Date</button>
		</form>
			<a href="{% url 'delete_recipe' form.instance.id %}">
			 <img src="{% static '/images/trash-can-regular.svg' %}" class="figure-img img-fluid rounded" width="25" height="25" alt="Delete">
			 </a>

			</div>
			<div class="col-lg-6 mt-4">
			<img src={{ form.instance.image}} class="figure-img img-fluid rounded" width="200" height="200"/> 
			</div>
			</div>
          </div>
        </div>
      {% endfor %}
	  
    </div>
	<div class="row">
		<div class="col-lg-6 mt-4">
		<form class="input-group mb-4" method="GET" action="/compare-calories/">
				<button type="submit" class="btn btn-info">CALORIE COMPARISION</button>
			</form>
		</div>
		<div class="col-lg-6 mt-4">
		<form class="input-group mb-4" method="GET" action="/nutrient-breakdown/">
				<button type="submit" class="btn btn-info">MACRO NUTRIENT BREAKDOWN</button>
			</form>
		</div>
	</div>
  </form>
{% endblock %}
